@media screen and (max-width: 800px) {

    .annonces-form{
        display: flex;
        justify-content: center;
    }

    .image-objet{
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
    .image-objet img{
        max-height: 40vh;
        margin-top: 50px;
        width:100%;
    }

  
  }