.annonce-detail{

    background-color: #FFF;
    width: 100%;

}

.img-section{
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.annonce-detail .img-box{
    margin-left: auto;
    margin-right: auto;
    height: 400px;
    width: 500px;

}

.annonce-detail .information{
    text-align: center;

}

.annonce-detail .text{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 60%;
}

.annonce-detail .information span{
    display: block;
    padding: 15px;
}

.annonce-detail .img-box img{
    height: 350px;
    width: 500px;

}

.annonce-commentaires{
    text-align: center;
}
.annonce-commentaires-header{
    margin-top: 50px;
    height: 50px;
}
.commentaire-text{
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    padding: 10px;
    border-bottom: 1px solid #222;
}