@media screen and (max-width: 1000px) {

    .main-content .right-section,.main-content .left-section{
       grid-template-columns: 1fr;
    }

    .top-middle-content-title{
        padding-top: 0px;
        font-size: 4em;
    }
    .top-middle-content-discover{
        padding-right: 10%;
    }
    
    .section .img-box img{
        width: 300px;
        margin-left: auto;
        margin-right: auto;
    }
    .section .img-box {
        width: 100%;

    }

    .main-content .right-section .img-box{
        margin-top: 50px;
    }


    .top-middle-content{
        grid-template-columns: 1fr;
    }
    
  }