.annonces-liste{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.image-objet{
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}
.image-objet img{
    max-height: 80vh;
    margin-top: 50px;
    width:100%;
}